body {
  font-family: sans-serif;
  background-image: url("assets/bg.png");
  margin-left: 320px;
  margin-right: 320px;
}
.title {
  font-family: monospace;
}
.info {
  font-family: monospace;
  margin-left: 400px;
  margin-right: 400px;
}
